@model ViewComponentsDemo.ViewModels.Weather

<h4>Current Weather for @Model.Location:</h4>

<h4>@Html.Raw(Model.Conditions)</h4>

<ul class="list-group">
    <li class="list-group-item">
        <strong>Currently:</strong> @Model.TemperatureCurrent&deg;@Model.Scale
    </li>
    <li class="list-group-item">
        <strong>Low:</strong> @Model.TemperatureLow&deg;@Model.Scale
    </li>
    <li class="list-group-item">
        <strong>High:</strong> @Model.TemperatureHigh&deg;@Model.Scale
    </li>
    <li class="list-group-item">
        <strong>Humidity:</strong> @Model.Humidity%
    </li>
</ul>